<div>
<h1>Items pending rent request (<%=@pendingitems.count%>)</h1>
<% if @pendingitems.count > 0%>
    <%= render "card", bookings:@pendingitems%>
<% else %>
<h3>There are currently no items pending booking request.</h3>
<% end%>
</div>


<% if @approveditems.count > 0%>
<div>
<%= render "card", items:@approveditems%>
</div>
<% end %>

<% if @declineditems.count > 0 %>
<div>
<%= render "card", items:@declineditems %>
</div>
<% end %> 


