<%# ====================================== %>
<%#   page explaining what RENT-Y-FiT is   %>
<%# ====================================== %>

<div class="about-top">
    <div class="text">
        <h1>What is RENT-Y-FiT?</h1>
        <p>We've all been in the situation where we have so many clothes we want to buy, but we can't afford it. It also seems too much of a waste to buy such an expensive designer, only to wear it a few times. </p>
        <p>Wouldn't it be great if we could just borrow a clothing item for a few days or weeks and avoid paying the full price for it?</p>
        <p>Or, do you have items that are just sitting in your closet without being used?</p> 
        <p>RENT-Y-FiT creates an alternative solution to buying streetwear clothings and accessories for every season</p>
        <p>It is a platform where we can rent other people's awesome clothes, and at the same time make some pocket money yourself by renting out some items in your closet!</p>
        <p>It's a win-win situation for everyone to enjoy fashion while producing less waste and supporting each other in the community!</p>
    </div>
</div>
<div class="about-main">
    <div class="about-renting">
        <h2>How does it work?</h2>
        <h3>To Rent awesome FiTs</h3>
        <ol>
            <li>Sign Up to RENT-Y-FiT</li>
            <li>Browse through FiTS and find an item you love</li>
            <li>Choose the number of days you want to rent, and request to rent</li>
            <li>Owner of the item will decide whether they will rent the item to you or not. Check your dashboard for any change in statuses. Once it is approved, make a transaction to confirm your order</li>
            <li>Wait for your item to arrive at your door</li>
            <li>Take awesome pics with your rented fit🔥</li>
            <li>Return your fit using the return bag that was sent to you along with the package, and you're done!</p>
        </ol>
    </div>
    <div class="about-renting">
        <h3>To List your own items for rent</h3>
        <ol>
            <li>Sign Up to RENT-Y-FiT</li>
            <li>Upload the FiT you want to list for rent along with the price you want to rent it for</li>
            <li>When a user requests to rent your item, you can approve or disapprove through your dashboard</li>
            <li>Once you approve the order, send the FiT to the user along with the return bag so they can send it back to you</li>
            <li>You can re-upload the FiT once it is returned to you by making the item available again through your dashboard!</li>
        </ol>
    </div>
</div>