<h4 class="subtitle">Rent Terms and Conditions</h4>
<p> As the owner of the item, you must sent your order package ONE BUSINESS DAY prior to the requested date. Use Australia Post express post to deliver your item in one business day. Package must also contain a return bag with shipping label. 
The rentee is instructed to send back your order one day after their renting period is finished. If the returned item is damaged in any way or if you do not get your item back, the rentee is liable for the damage and the depoisit will be yours too keep. 
It may be a good idea to take photos of the item's condition prior to sending the item out, as you will require some kind of proof in order to claim for damage.</p>
