<h4 class="subtitle">Rent Procedure</h4>
<p> You will receive your order package on the date of delivery listed above. 
Package will contain a return bag with shipping label. 
You must send the item back with the return bag from any Australia Post locations, no later than ONE DAY AFTER your renting period ends.</p>

<h5>Care Instructions on Renting</h5>
<p>It is important that you take very good care of the item you are renting. 
If you cause damage or loss the item/s in any way your deposit will not be returned to you. 
It may be a good idea to take photos of the item's condition at the point of delivery so that you are not liable for damage not caused by you.</p>