<%# ====================================== %>
<%#   edit your Fit (item) through form    %>
<%# ====================================== %>

<h1 class="itemsform-title">Edit FiT</h1>
<main class="form-main m-5 p-5">    
    <%= render 'form', item: @item %>

    <%= link_to 'Show', @item, class:"btn btn-secondary" %> |
    <%= link_to 'Cancel', items_path, class:"btn btn-dark" %>
</main>
