<%# ====================================== %>
<%#    show all available FiTs (items)     %>
<%# ====================================== %>
<div class="items-index-title">
<h1>All FiTs</h1>
</div>
<%= render "shared/itemcard", items:@items %>


