<%# ====================================== %>
<%#    Add a new  Fit (item) using form    %>
<%# ====================================== %>

<h1 class="itemsform-title">Upload a new FiT</h1>
<main class="form-main m-5 p-5">
    <%= render 'form', item: @item %>

    <%= link_to 'Cancel', items_path, class:"btn btn-dark" %>
</main>
