// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-image {
    height: 65%;
    display: flex;
    align-items: center;
    .index-image {
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
        width: auto;
        height: auto;
        margin: auto;
    }
}

.show-image {
    width: 35vw;
    box-shadow: 2px 2px rgba(225, 225, 225, 0.6);
    display: block;
}

.price-show {
    display: inline;
}
